@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.card {
  margin: 20px;
  width: 300px;
  height: 360px;
  background-color: #494674;
  text-align: center;
  border: 2px solid #164231;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px 2px rgb(145, 145, 145); */
  transition: box-shadow 0.3s border 0.3s;
}

.card:hover {
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(78, 78, 78);
}

.card-top {
  margin: 10px;
  margin-top: 5px;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;
}

.project-title {
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.15px;
  color: rgb(214, 214, 214);
}
.card-top Button {
  padding: 0px;
}

.card-description {
  margin: auto;
  width: 280px;
  height: 270px;
  background-color: rgb(40, 53, 71);
  text-align: left;
  border-radius: 5px;
  border: 2px solid #164231;
  overflow-y: scroll;
}

.text-title {
  margin: 10px;
  color: rgb(214, 214, 214);
}

.text {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(131, 129, 129);
}

.card-bottom {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.card-bottom p {
  color: rgb(243, 243, 243);
  font-size: 20px;
}

.card-bottom-text {
  margin-top: 10px;
}
